<?xml version='1.0' encoding='utf-8'?>
<widget id="io.liveoak.examples.gallery" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gallery</name>
    <description>
        A sample LiveOak application using Apache Cordova, demoing basic usage of mongo-gridfs module.
    </description>
    <author href="http://liveoak.io">
        LiveOak Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
