<div id="hack" data-ng-controller="AttackCtrl">
    <h2>Attempt evil!</h2>
    <h3>Attack mode {{attackMode ? 'active!' : ' not active'}}</h3>
    <label for="username">Change user</label><br/><input id="username" type="text" data-ng-model="username"><br/>
    <br/>
    <label for="useChangedUserOnUpdate">Use changed user for update</label><br/><input id="useChangedUserOnUpdate" type="checkbox" data-ng-model="useChangedUserOnUpdate"><br/>
    <br/>
    <label for="showAll">Show all todos</label><br/><input id="showAll" type="checkbox" data-ng-model="showAll"><br/>
    <br/>
    <label for="authorization">Include authorization header</label><br/><input id="authorization" type="checkbox" data-ng-model="authorization"><br/>
    <br/>
    <label>Last request status</label><br/><span ng-style="lastStatus >= 400 && {'font-size': '20px', 'color': 'red'} || {'font-size': '20px'}"> {{lastStatus}}</span>

    <br/><br/>

    <input type="button" data-ng-click="attack()" value="Attack"/>
    <input type="button" data-ng-click="reset()" value="Reset"/>
</div>